@media (max-width: 1279px) {
  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 3px;
    border-radius: 6px;
    background-color: #f9fafb;
    box-shadow: 0 7px #f9fafb, 0 -7px #f9fafb;
    transition: transform 0.3s;
  }

  .js [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  .js [data-menu="list"].active {
    display: block;
    animation: show-right 0.3s forwards;
  }

  @keyframes show-right {
    /* Animação com CSS*/
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
      /* Move o conteúdo nos eixos X, Y e Z, respectivamente*/
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
